.toasts {
  position: fixed;
  right: 3vh;
  top: 10vh;
  z-index: 999;
}

.notification {
  width: 300px;
  min-height: 60px;
  border-radius: 5px;
  margin: 2%;
  display: flex;
  padding-left: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  animation: slide-up 0.4s ease;

  &-success {
    background: url('../../assets/icon-green-circle-check.svg') no-repeat left center;
    background-position: 3%;
    background-color: #d4f1e0;
  }
  &-error {
    background: url('../../assets/icon-red-circle-error.svg') no-repeat left center;
    background-position: 3%;
    background-color: #ffdee1;
  }
  &-warning {
    background: url('../../assets/icon-yellow-circle-warning.svg') no-repeat left center;
    background-position: 3%;
    background-color: #fbefc9;
  }
  &-info {
    background: url('../../assets/icon-blue-circle-info.svg') no-repeat left center;
    background-position: 3%;
    background-color: #d2e5f9;
  }
}

.notification span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.notification-enter {
  transform: translateX(300px);
}

.notification-enter.notification-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

.notification-exit {
  transform: translateX(0);
}

.notification-exit.notification-exit-active {
  transform: translateX(300px);
  transition: transform 300ms ease-in;
}
