.list {
  background-color: var(--primary);
  height: 100%;
  padding: 1em;
}

.nonprofitItem {
  margin-bottom: 0.5em;
}

.spinner {
  justify-content: center;
  align-items: center;
}

.icon {
  width: 50px;
  margin: 0.2em;
}

.hide {
  background-color: red;
  display: none !important;
}
