@import './theme.scss'; // bootstrap is imported in here
@import './mixins.scss';

/**
 * Global CSS
 */

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/CircularStd-Book.ttf');
}

@font-face {
  font-family: 'Circular Std Bold';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/CircularStd-Bold.otf');
}

@font-face {
  font-family: 'Circular Std Medium';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/CircularStd-Medium.ttf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

// use together with .btn-link
// this makes a button truely look like a link
.btn-link-reset {
  padding: 0;
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.square {
  position: relative;

  .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.img-fail {
  position: relative;
}

.img-fail:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;
  // content: attr(alt);
  content: '';
}

.custom-plaintext { 
  border-color: transparent;
  appearance: none;
  background-color: transparent;
  color: #212529;
}