@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal; // aka 400
  src: url('./fonts/CircularStd-Book.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/CircularStd-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold; // aka 700
  src: url('./fonts/CircularStd-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/CircularStd-Medium.ttf');
  font-display: swap;
}

@import './theme.scss'; // bootstrap is imported in here
@import './mixins.scss';

/**
 * Global CSS
 */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}

html,
body,
#root {
  height: 100%;
}

// use together with .btn-link
// this makes a button truely look like a link
.btn-link-reset {
  padding: 0;
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.square {
  position: relative;

  .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.img-fail {
  position: relative;
}

.img-fail:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;
  // content: attr(alt);
  content: '';
}

.custom-plaintext {
  border-color: transparent;
  appearance: none;
  background-color: transparent;
  color: #212529;
}

.h2 {
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  font-size: em(36px);
  font-size: rem(36px);
  line-height: (46/36);
  color: var(--dark);
}

.h3 {
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  font-size: em(16px);
  font-size: rem(16px);
  line-height: (20/16);
  color: var(--dark);
}

// overriding the default invalid feedback styles to increase font-size
.invalid-feedback {
  font-size: 90%;
}

.block {
  background-color: #fff;
  padding: 2rem 1rem;
  margin: 2rem auto;
}

[tabindex='0']:focus {
  appearance: button;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/****************************************
 * this is for the green check mark
 */
// Colors
$green: #7ac142;
$white: #fff;

// Misc
$curve: cubic-bezier(0.65, 0, 0.45, 1);

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: $white;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $green;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $green;
  fill: none;
  animation: stroke 0.6s $curve forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s $curve 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $green;
  }
}
