/**
 * GDD Bootstrap theme
 * read more about theming here:
 * https://getbootstrap.com/docs/4.5/getting-started/theming/
 *
 * view all bootstrap variables:
 * https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
 */

$primary: #2bc2bd;
$secondary: #fc5e6b;
$light: #fff;
$dark: #424242;

@import '~bootstrap/scss/bootstrap';
