@import '../../styles/mixins.scss';

.profileEdit {
  label {
    font-weight: bold;
  }
}

.header {
  @include from-bp('lg') {
    margin-top: 1em;
  }
}

.profile {
  section {
    margin: 0 0 60px;
  }
}

.donation-list {
  max-height: 315px;
  overflow: scroll;
  overflow-x: hidden;
  list-style-type: none;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 33px;

  li {
    @include innerMargin(1em 0);

    p {
      margin: 0;
    }
  }
}

.donation-list-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}

.circle {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 1em;
}

.donationTable {
  max-height: 682px;
  padding: 30px 24px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.tableInner {
  max-height: calc(682px - 60px);
  width: 100%;
  overflow: scroll;
  overflow-y: auto;
}

.donateTableHead {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.dlCsv {
  border: none;
  background: none;
  margin-right: 3px;

  span {
    display: inline-block;
    width: 14px;
    height: 17px;
    background-image: url('../../assets/icon-download.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.results {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;

  li {
    border-bottom: 1px solid gray;
    padding: 20px 0;

    a {
      color: blue;
    }

    h3 {
      font-size: 1.3em;
      font-size: 1.3rem;
    }

    p {
      margin: 0;
    }
  }
}

.result_row {
  img {
    display: block;
    margin-right: 15px;
    width: 100px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}

$w: 375px * 0.75;
$h: 240px * 0.75;

.imgLogoBlock {
  :global(.imgBlock-img) {
    max-width: $h;
  }
}

.imgHeroBlock {
  max-width: $w;
}
