@import '../../styles/mixins.scss';

.header {
  @include from-bp('lg') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1em;
  }
}

.profile {
  padding-bottom: 300px;

  section {
    margin: 0 0 60px;
  }
}

.uploadBlock {
  @include from-bp('lg') {
    display: flex;
    flex-direction: row;
  }
  margin-bottom: 1.5em;
}

.uploadImg {
  width: 128px;
  margin-right: 24px;
  @include to-bp('lg') {
    margin-bottom: 1em;
  }
}

.uploadImgCover {
  width: 256px;
}

.uploadContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  h3 {}

  p {}

  button {
    align-self: flex-start;
  }
}

/////////

.donation-list {
  max-height: 315px;
  overflow: scroll;
  overflow-x: hidden;
  list-style-type: none;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 33px;

  li {
    @include innerMargin(1em 0);

    p {
      margin: 0;
    }
  }
}

.donation-list-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}

.circle {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 1em;
}

.donationTable {
  max-height: 682px;
  padding: 30px 24px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.tableInner {
  max-height: calc(682px - 60px);
  width: 100%;
  overflow: scroll;
  overflow-y: auto;
}

.donateTableHead {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.dlCsv {
  border: none;
  background: none;
  margin-right: 3px;

  span {
    display: inline-block;
    width: 14px;
    height: 17px;
    background-image: url('../../assets/icon-download.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
