@import '../../styles/mixins';

.drawer {
  width: 250px;
  max-width: 250px;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  border-right: 1px solid black;
  background-color: #F4FAF9;
}

.content {
  margin-left: 250px;
}

@include to-bp('md') {
  .drawer {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
  }

  .closed {
    transform: translateX(-250px);
  }

  // the main content
  .push {
    transform: translateX(250px);
  }
}

.transition {
  transition: transform;
  will-change: transform;
  transform-style: preserve-3d;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
