@import '../styles/mixins.scss';

i {
  padding: 20px;
  cursor: pointer;
  opacity: 0.9;
}
i:hover {
  opacity: 1;
}

.twitter {
  color: #38a1f3;
}
.facebook {
  color: #3b5998;
}

.instagram {
  color: #3f729b;
}
.youtube {
  color: #c4302b;
}
.linkedin {
  color: #0077b5;
}

.popover {
  border-color: red;
}
