@import '../../styles/mixins.scss';

/**************************************************
 * Grooming Queue
 */

.table {
  &Date {
    width: 20%;
  }
  &Brand {
    width: 45%;
  }
  &Offer {
    width: 20%;
  }
  &Action {
    width: 15%;
  }
}

/**************************************************
 *  brands/:id  - viewing single brand
 */

.select {
  text-transform: capitalize;
  &:disabled {
    opacity: 1;
  }
}

.uploadBlock {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;

  @include from-bp('lg') {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  margin-bottom: 3em;
}

.uploadError {
  flex-basis: 100%;
  color: red;
  margin-bottom: 0;
  margin-top: 1em;
}

.uploadImg {
  width: 128px;
  margin-right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include to-bp('lg') {
    margin-bottom: 1em;
  }
}

.uploadImgCover {
  width: 256px;
}

.uploadContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.offerRow {
  padding: 5px 0;
  border-top: 1px solid gray;
  &:first-child {
    border-top: none;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  p {
    margin: 0;

    span {
      display: inline-block;
      margin-left: 10px;
      margin-left: 1ch;
    }
  }
}

/**************************************************
 * Brand search
 */
.results {
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.resultItem {
  margin-right: 30px;
  margin-bottom: 30px;
  img {
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  p {
    word-wrap: break-word;
  }
}
