@import '../../styles/mixins.scss';

/**************************************************
 * Grooming Queue
 */

.table {
  &Date {
    width: 20%;
  }
  &Brand {
    width: 45%;
  }
  &Offer {
    width: 20%;
  }
  &Action {
    width: 15%;
  }
}

/**************************************************
 *  brands/:id  - viewing single brand
 */

.select {
  text-transform: capitalize;
  &:disabled {
    opacity: 1;
  }
}

.offerRow {
  padding: 5px 0;
  border-top: 1px solid gray;
  &:first-child {
    border-top: none;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  p {
    margin: 0;

    span {
      display: inline-block;
      margin-left: 10px;
      margin-left: 1ch;
    }
  }
}

.previewWrap {
  margin-top: 40px;
  background-color: rgb(200, 200, 200);
  padding: 30px;
}

.loader {
  width: 20px;
  height: 20px;
  margin-left: 0.3rem;
}

/**************************************************
 * Brand search
 */
.results {
  list-style-type: none;
  padding: 0;
}

.resultItem {
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
  max-width: 200px;

  a {
    display: block;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  p {
    word-wrap: break-word;
  }
}

.logoBlock {
  margin-bottom: 20px;
  :global(.imgBlock-img) {
    max-width: 200px;
  }
}

.heroBlock {
  :global(.imgBlock-img) {
    max-width: 375px;
  }
}
