@import '../../styles/mixins.scss';

.table {
  &Date {
    width: 20%;
  }
  &Brand {
    width: 45%;
  }
  &Offer {
    width: 20%;
  }
  &Action {
    width: 15%;
  }
}

.select {
  text-transform: capitalize;
  &:disabled {
    opacity: 1;
  }
}

.uploadBlock {
  @include from-bp('lg') {
    display: flex;
    flex-direction: row;
  }
  margin-bottom: 1.5em;
}

.uploadImg {
  width: 128px;
  margin-right: 24px;
  @include to-bp('lg') {
    margin-bottom: 1em;
  }
}

.uploadImgCover {
  width: 256px;
}

.uploadContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  button {
    align-self: flex-start;
  }
}

.offerRow {
  padding: 5px 0;
  border-top: 1px solid gray;
  &:first-child {
    border-top: none;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  p {
    margin: 0;

    span {
      display: inline-block;
      margin-left: 10px;
      margin-left: 1ch;
    }
  }
}
