.logo {
  display: block;
  width: 100%;
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}

$pad: 20px;

.nav {
  color: #fff;
  overflow: hidden;

  h2 {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 0;
    // background-color: rgba(43, 194, 189, 0.2);
    padding: 5px $pad;
    font-weight: bold;
  }

  :global(.active) {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 6px;
      height: 100%;
      content: '';
      background-color: var(--primary);
    }
  }

  i {
    padding: 0;
  }
}

// the top level UL
.navUL {
  list-style-type: none;
  padding: 0;
}

.noSub {
  margin: 0;
  a {
    padding: 5px $pad;
    display: block;
  }
  button {
    margin: 5px $pad;
    // display: block;
  }
}

.navSection {
  margin: 20px 0;
}

.navSubSection {
  list-style-type: none;
  padding: 0;

  li {
    margin: 0;
    &:hover,
    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  li a {
    display: block;
    padding: 5px $pad;
  }
}

.collapsedContent {
  transition: max-height 200ms ease-in-out;
  max-height: 0;
  overflow: hidden;

  &.open {
    max-height: 500px;
  }
}

.collapsedTitle {
  color: var(--primary);
  font-size: 0.9rem;
  margin: 0;
  // background-color: rgba(43, 194, 189, 0.2);
  padding: 5px $pad;
  font-weight: bold;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:after {
    position: absolute;
    background-image: url('../../assets/dropdown-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: '';
    display: block;
    right: 2rem;
    top: calc(50% - 6px);
    width: 12px;
    height: 6px;
    transition: transform 200ms linear;
  }

  &.open {
    border-bottom: 1px solid var(--primary);
  }

  &.open:after {
    transform: rotate(180deg);
    transform-origin: center;
  }
}
