@import '../../styles/mixins';

.jumbotron {
  max-width: 1500px;
}

.edit {
  margin-bottom: 20px;
  position: relative;
}

.gridcol {
  display: inline-block;
}

.date {
  vertical-align: middle;
  top: 10px;
}

.select {
  text-transform: capitalize;
  &:disabled {
    opacity: 1;
  }
}

.textarea:disabled {
  resize: none;
}

.ban {
  float: right;
}

.userEdit {
  label {
    font-weight: bold;
  }
}

.userEditList {
  margin-bottom: 32px;
  padding: 0;

  .userEdit {
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin: 0;
  }

  :global(.card-header) {
    cursor: pointer;
  }
}

.userEditControls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userSearchResult {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 100px minmax(0, 1fr);
    overflow: hidden;

    &:last-child {
      border-bottom: 0;
    }
  }

  p {
    margin: 0.3rem;
    word-wrap: break-word;
  }

  a {
    text-decoration: underline;
  }
}

.label {
  display: inline-block;
  padding: 1px 6px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 5px;

  &.consumer {
    background-color: var(--primary);
    // color: var(--white);
  }
  &.nonprofit {
    background-color: var(--secondary);
    // color: var(-);
  }

  &.internal {
    background-color: var(--danger);
    // color: var(--white);
  }

  &.brand {
    background-color: var(--purple);
    // color: var(--white);
  }
}
